{% extends 'cliente/base.html' %}
{%block content%}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Nossa historia!</h1>
        </div>
    </div>  
            <div class="row justify-content-center mt-1">
                <div class="col-md-10 col-sm 12 offset-md-1 p-4 text-center">
                <h2>Somos dois socios com um pequeno sonho de produzir Hamburgers de qualidade
                para os paraenses. Começamos preparando para nossos familiares como hobby e com o apoio e incentivo deles, resolvemos criar o Madruga burger!</h2>
                <button class="btn btn-outline-primary">Peça agora!</button>
                </div>
            </div>
            {% endblock content %}
